.background-col{
    background-color: #F0FFF0 ;
   

}
.background{
    background: #21B573;
    border-radius: 33px;
    padding: 10px 28px !important;
    color: white !important;
}
.back-color{
    position: absolute;
    width: 1440px;
    height: 576px;
    left: 0px;
    top: 0px;
    
    background: #F0FFF0;
}
