
.background{
    background-color: #21B573;
    padding: 5px 25px;
    border-radius: 20px;
    color: white;
    margin-top: 5px;
    border: none;
}
.back-color{
    position: absolute;
    width: 1440px;
    height: 576px;
    left: 0px;
    top: 0px;
    background: #F0FFF0;
}
.uper-sec{
    background-color: #F0FFF0 ;
    height: 600px;
}
.red-text{
    color: #FD511A;
}
.banner{
    padding: 100px 0px;
}
.banner img{
    width: 100%;
}
.background-banner{
    background: #21B573;
    border-radius: 33px;
    padding: 6px 23px !important;
    color: white !important;

}
.green-txt{
    color: #3d863d;
}
.height{
    position: absolute;
width: 554px;
height: 346px;
left: 691px;
top: 157px;
}
.green-bg{
    background-color: #F8FFFB;

}
.key-feature-box{
    position: absolute;
width: 270px;
height: 270px;
background: #F8FFFB;
border-radius: 10px;
 }
 .margin-sec{
    margin-top: 40px;
    margin-bottom: 80px;
 }
.margin-sec img{
    width: 66px;
    height: 85px;

}
.book-set{
        margin: 54px 108px 31px 96px!important;

}
.key-feature-box2{
    position: absolute;
width: 270px;
height: 270px;
margin-left: 30px;
margin-right: 29px;


}
.box-shadow{
    background: #FFFFFF;
box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
border-radius: 10px;

}
.key-feature-box3{
    position: absolute;
width: 270px;
height: 270px;
margin-left: 31px;
margin-right: 29px;
}
.categories{

    margin-top: 40px;
}
.category{
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 25px;
    background: #F8FFFB;
    border-radius: 10px;



}
.category:hover {
    border-radius: 10px;
    box-shadow:  0px 20px 40px rgba(0, 0, 0, 0.1);
}
.categories img{
    width: 25%;
}

h1.Headline {
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    padding-top: 10px;
    color:#413960 ;
}
.card-deck{
    list-style: none;
    justify-content: center;
}
.icon-img {
    width: 20px;
}
.Headlines-new{
    text-align: center;
    
font-weight: bold;
font-size: 36px;
line-height: 54px;


}
#subscribe{
    height: 200px;
}
.new-background{
    background:#F0FFF0;
    border-radius: 33px;
}
footer .container-fluid {
    background-color: #282531;
    color: blanchedalmond;
}
ul {
    list-style: none;
    margin-left: 16px;
}
ul li a{
    color: blanchedalmond;
}
.Footer-headlink {
    margin-left: 58px;
    font-weight: bold;
}
